In [1]:
# PROBLEM 4: Forecasting Nissan Rogue Sales

In [2]:
import numpy as np
import pandas as pd

In [3]:
car = pd.read_csv(r'C:\Users\achar\Documents\Aish\Masters\Cal MEng IEOR\Coursework\242 Applications in Data Analysis\Week 1\Rogue-242-Fall2021.csv')
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MonthNumeric  162 non-null    int64
 1   MonthFactor   162 non-null    object
 2   Year          162 non-null    int64
 3   RogueSales    162 non-null    int64
 4   Unemployment  162 non-null    float64
 5   RogueQueries  162 non-null    int64
 6   CPIAll        162 non-null    float64
 7   CPIEnergy     162 non-null    float64
dtypes: float64(3), int64(4), object(1)
memory usage: 10.2+ KB

In [4]:
car.head(-38)

,MonthNumeric,MonthFactor,Year,RogueSales,Unemployment,RogueQueries,CPIAll,CPIEnergy
0,1,January,2008,5435,5.0,18,212.174,226.775
1,2,February,2008,5223,4.9,11,212.687,229.731
2,3,March,2008,6873,5.1,18,213.448,233.349
3,4,April,2008,5814,5.0,17,213.942,234.778
4,5,May,2008,7467,5.4,17,215.208,243.924
...,...,...,...,...,...,...,...,...
119,12,Decemeber,2017,40172,4.1,69,247.736,213.119
120,1,January,2018,36184,4.0,72,248.721,217.273
121,2,February,2018,38119,4.1,72,249.300,219.765
122,3,March,2018,42151,4.0,71,249.517,216.492
123,4,April,2018,23331,4.0,72,250.275,219.424

In [5]:
#PART A
car_train = car[car['Year'] <= 2015]
car_testA = car[(car['Year'] > 2015) & (car['Year'] <= 2019)]
car_testB = car[car['Year'] > 2019]

len(car_train), len(car_testA), len(car_testB)

(96, 48, 18)

In [6]:
car.corr()

,MonthNumeric,Year,RogueSales,Unemployment,RogueQueries,CPIAll,CPIEnergy
MonthNumeric,1.000000,-0.055626,0.010250,0.005178,-0.027966,0.018573,0.023861
Year,-0.055626,1.000000,0.806593,-0.519502,0.955366,0.985993,-0.288663
RogueSales,0.010250,0.806593,1.000000,-0.708006,0.834824,0.776689,-0.281817
Unemployment,0.005178,-0.519502,-0.708006,1.000000,-0.606273,-0.520535,0.063876
RogueQueries,-0.027966,0.955366,0.834824,-0.606273,1.000000,0.951788,-0.284251
CPIAll,0.018573,0.985993,0.776689,-0.520535,0.951788,1.000000,-0.166129
CPIEnergy,0.023861,-0.288663,-0.281817,0.063876,-0.284251,-0.166129,1.000000

In [7]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

model = smf.ols(formula='RogueSales ~ Unemployment + RogueQueries + CPIAll + CPIEnergy',
                 data=car_train).fit()

print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             RogueSales   R-squared:                       0.796
Model:                            OLS   Adj. R-squared:                  0.787
Method:                 Least Squares   F-statistic:                     88.71
Date:                Tue, 21 Sep 2021   Prob (F-statistic):           1.47e-30
Time:                        11:35:29   Log-Likelihood:                -898.41
No. Observations:                  96   AIC:                             1807.
Df Residuals:                      91   BIC:                             1820.
Df Model:                           4
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept    -6.918e+04   1.42e+04     -4.884      0.000   -9.73e+04    -4.1e+04
Unemployment  -138.5673    245.091     -0.565      0.573    -625.411     348.276
RogueQueries   172.2780     57.473      2.998      0.004      58.115     286.441
CPIAll         410.8467     76.709      5.356      0.000     258.474     563.219
CPIEnergy      -65.8007     15.636     -4.208      0.000     -96.859     -34.742
==============================================================================
Omnibus:                       61.772   Durbin-Watson:                   1.459
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              442.090
Skew:                           1.883   Prob(JB):                     1.00e-96
Kurtosis:                      12.815   Cond. No.                     1.55e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.55e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [8]:
# Calculate Variance Inflation Factor for each explanatory variable

from statsmodels.stats.outliers_influence import variance_inflation_factor

def VIF(df, columns):
    
    values = sm.add_constant(df[columns]).values  # the dataframe passed to VIF must include the intercept term. We add it the same way we did before.
    num_columns = len(columns)+1
    vif = [variance_inflation_factor(values, i) for i in range(num_columns)]
    
    return pd.Series(vif[1:], index=columns)

In [9]:
# Calculate Variance Inflation Factor for each explanatory variable
VIF(car_train, ['Unemployment', 'RogueQueries', 'CPIAll', 'CPIEnergy'])

Unemployment    1.828038
RogueQueries    6.072534
CPIAll          5.330401
CPIEnergy       1.551640
dtype: float64

In [10]:
#Removing Unemployment
import statsmodels.formula.api as smf

model = smf.ols(formula='RogueSales ~  RogueQueries + CPIAll + CPIEnergy',
                 data=car_train).fit()

print(model.summary())

# Calculate Variance Inflation Factor for each explanatory variable
VIF(car_train, ['RogueQueries', 'CPIAll', 'CPIEnergy'])

                            OLS Regression Results
==============================================================================
Dep. Variable:             RogueSales   R-squared:                       0.795
Model:                            OLS   Adj. R-squared:                  0.789
Method:                 Least Squares   F-statistic:                     119.1
Date:                Tue, 21 Sep 2021   Prob (F-statistic):           1.45e-31
Time:                        11:35:30   Log-Likelihood:                -898.57
No. Observations:                  96   AIC:                             1805.
Df Residuals:                      92   BIC:                             1815.
Df Model:                           3
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept    -6.908e+04   1.41e+04     -4.895      0.000   -9.71e+04   -4.11e+04
RogueQueries   188.9291     49.170      3.842      0.000      91.273     286.585
CPIAll         401.8088     74.747      5.376      0.000     253.355     550.262
CPIEnergy      -63.7953     15.172     -4.205      0.000     -93.928     -33.663
==============================================================================
Omnibus:                       60.885   Durbin-Watson:                   1.452
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              428.754
Skew:                           1.854   Prob(JB):                     7.89e-94
Kurtosis:                      12.667   Cond. No.                     1.55e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.55e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

RogueQueries    4.477880
CPIAll          5.098905
CPIEnergy       1.471781
dtype: float64

In [11]:
#PART B: Seasonality

import statsmodels.api as sm
import statsmodels.formula.api as smf

model = smf.ols(formula='RogueSales ~ Unemployment + RogueQueries + CPIAll + CPIEnergy + MonthFactor',
                 data=car_train).fit()

print(model.summary())
# Calculate Variance Inflation Factor for each explanatory variable
VIF(car_train, ['RogueQueries', 'CPIAll', 'CPIEnergy','Unemployment'])

                            OLS Regression Results
==============================================================================
Dep. Variable:             RogueSales   R-squared:                       0.851
Model:                            OLS   Adj. R-squared:                  0.823
Method:                 Least Squares   F-statistic:                     30.46
Date:                Tue, 21 Sep 2021   Prob (F-statistic):           7.49e-27
Time:                        11:35:30   Log-Likelihood:                -883.30
No. Observations:                  96   AIC:                             1799.
Df Residuals:                      80   BIC:                             1840.
Df Model:                          15
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                -8.216e+04   1.41e+04     -5.845      0.000    -1.1e+05   -5.42e+04
MonthFactor[T.August]     3280.0709   1344.593      2.439      0.017     604.245    5955.896
MonthFactor[T.Decemeber]   976.4637   1323.099      0.738      0.463   -1656.587    3609.515
MonthFactor[T.February]   2724.2250   1320.184      2.064      0.042      96.975    5351.475
MonthFactor[T.January]    -976.9897   1326.575     -0.736      0.464   -3616.959    1662.979
MonthFactor[T.July]       1713.7269   1338.649      1.280      0.204    -950.269    4377.723
MonthFactor[T.June]        605.8386   1320.488      0.459      0.648   -2022.015    3233.693
MonthFactor[T.March]      3990.3761   1322.016      3.018      0.003    1359.481    6621.271
MonthFactor[T.May]        2682.1772   1313.479      2.042      0.044      68.270    5296.084
MonthFactor[T.November]   -255.6589   1322.607     -0.193      0.847   -2887.731    2376.413
MonthFactor[T.October]     179.6851   1320.181      0.136      0.892   -2447.559    2806.929
MonthFactor[T.Septeber]    689.5712   1315.836      0.524      0.602   -1929.025    3308.168
Unemployment              -266.8447    229.344     -1.164      0.248    -723.253     189.564
RogueQueries               111.2632     58.459      1.903      0.061      -5.075     227.601
CPIAll                     486.4558     77.483      6.278      0.000     332.260     640.651
CPIEnergy                  -78.2961     15.220     -5.144      0.000    -108.586     -48.006
==============================================================================
Omnibus:                       70.261   Durbin-Watson:                   1.174
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              655.246
Skew:                           2.117   Prob(JB):                    5.19e-143
Kurtosis:                      15.078   Cond. No.                     1.69e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.69e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

RogueQueries    6.072534
CPIAll          5.330401
CPIEnergy       1.551640
Unemployment    1.828038
dtype: float64

In [12]:
# Compute Out-of-sample R-squared using the test set

def OSR2(model, df_train, df_test, dependent_var):   
    
    y_test = df_test[dependent_var]
    y_pred = model.predict(df_test)
    SSE = np.sum((y_test - y_pred)**2)
    SST = np.sum((y_test - np.mean(df_train[dependent_var]))**2)    
    
    return 1 - SSE/SST

In [13]:
OSR2(model, car_train, car_testA, 'RogueSales')

0.9055461393682622

In [14]:
OSR2(model, car_train, car_testB, 'RogueSales')

-0.5169656608472619

In [15]:
#PART C: Removing RogueQueries

import statsmodels.api as sm
import statsmodels.formula.api as smf

model = smf.ols(formula='RogueSales ~ Unemployment + CPIAll + CPIEnergy + MonthFactor ',
                 data=car_train).fit()

print(model.summary())

# Calculate Variance Inflation Factor for each explanatory variable
VIF(car_train, ['Unemployment', 'CPIAll', 'CPIEnergy'])

                            OLS Regression Results
==============================================================================
Dep. Variable:             RogueSales   R-squared:                       0.844
Model:                            OLS   Adj. R-squared:                  0.817
Method:                 Least Squares   F-statistic:                     31.37
Date:                Tue, 21 Sep 2021   Prob (F-statistic):           7.31e-27
Time:                        11:35:31   Log-Likelihood:                -885.42
No. Observations:                  96   AIC:                             1801.
Df Residuals:                      81   BIC:                             1839.
Df Model:                          14
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                -1.029e+05   9023.912    -11.402      0.000   -1.21e+05   -8.49e+04
MonthFactor[T.August]     3803.8075   1337.269      2.844      0.006    1143.063    6464.552
MonthFactor[T.Decemeber]   783.3840   1340.389      0.584      0.561   -1883.569    3450.337
MonthFactor[T.February]   2980.2731   1334.402      2.233      0.028     325.233    5635.314
MonthFactor[T.January]    -630.0621   1335.093     -0.472      0.638   -3286.479    2026.354
MonthFactor[T.July]       2189.0734   1336.263      1.638      0.105    -469.671    4847.818
MonthFactor[T.June]        847.7123   1335.465      0.635      0.527   -1809.444    3504.868
MonthFactor[T.March]      4282.3527   1334.171      3.210      0.002    1627.771    6936.934
MonthFactor[T.May]        2724.5229   1334.380      2.042      0.044      69.524    5379.521
MonthFactor[T.November]   -497.2979   1337.640     -0.372      0.711   -3158.782    2164.187
MonthFactor[T.October]     -31.9764   1336.613     -0.024      0.981   -2691.418    2627.465
MonthFactor[T.Septeber]    677.7357   1336.951      0.507      0.614   -1982.378    3337.849
Unemployment              -504.3271    195.520     -2.579      0.012    -893.351    -115.304
CPIAll                     615.3480     38.252     16.087      0.000     539.239     691.457
CPIEnergy                  -95.0297     12.624     -7.528      0.000    -120.147     -69.912
==============================================================================
Omnibus:                       57.574   Durbin-Watson:                   1.159
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              405.189
Skew:                           1.716   Prob(JB):                     1.03e-88
Kurtosis:                      12.461   Cond. No.                     1.07e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.07e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

Unemployment    1.347993
CPIAll          1.510322
CPIEnergy       1.145628
dtype: float64

In [16]:
# Compute Out-of-sample R-squared using the test set

def OSR2(model, df_train, df_test, dependent_var):   
    
    y_test = df_test[dependent_var]
    y_pred = model.predict(df_test)
    SSE = np.sum((y_test - y_pred)**2)
    SST = np.sum((y_test - np.mean(df_train[dependent_var]))**2)    
    
    return 1 - SSE/SST

In [17]:
OSR2(model, car_train, car_testA, 'RogueSales')

0.8987975522464839

In [18]:
OSR2(model, car_train, car_testB, 'RogueSales')

-0.312293458268756

In [19]:
#PART D
#Nissan models are produced in US, Japan and South Korea https://www.todaysmotorvehicles.com/article/automotive-manufacturing-nissan-crossover-rogue-071015/
#Exchange rate data retrieved from: http://fx.sauder.ubc.ca/data.html

fx = pd.read_csv(r'C:\Users\achar\Documents\Aish\Masters\Cal MEng IEOR\Coursework\242 Applications in Data Analysis\Week 1\Fx rates.csv')
fx.head()

         fx
0  0.009282
1  0.009338
2  0.009917
3  0.009739
4  0.009586

In [20]:
cars_fx = pd.concat([car.reset_index(drop=True),fx.reset_index(drop=True)], axis=1)

In [21]:
cars_fx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MonthNumeric  162 non-null    int64
 1   MonthFactor   162 non-null    object
 2   Year          162 non-null    int64
 3   RogueSales    162 non-null    int64
 4   Unemployment  162 non-null    float64
 5   RogueQueries  162 non-null    int64
 6   CPIAll        162 non-null    float64
 7   CPIEnergy     162 non-null    float64
 8   fx            162 non-null    float64
dtypes: float64(4), int64(4), object(1)
memory usage: 11.5+ KB

In [22]:
carfx_train = cars_fx[cars_fx['Year'] <= 2015]
carfx_testA = cars_fx[(cars_fx['Year'] > 2015) & (cars_fx['Year'] <= 2019)]
carfx_testB = cars_fx[cars_fx['Year'] > 2019]

len(carfx_train), len(carfx_testA), len(carfx_testB)

(96, 48, 18)

In [23]:
import statsmodels.formula.api as smf

model_fx = smf.ols(formula='RogueSales ~  Unemployment + CPIAll + CPIEnergy + fx',
                 data=carfx_train).fit()

print(model_fx.summary())

# Calculate Variance Inflation Factor for each explanatory variable
VIF(carfx_train, ['Unemployment', 'CPIAll', 'CPIEnergy', 'fx'])

                            OLS Regression Results
==============================================================================
Dep. Variable:             RogueSales   R-squared:                       0.779
Model:                            OLS   Adj. R-squared:                  0.769
Method:                 Least Squares   F-statistic:                     80.00
Date:                Tue, 21 Sep 2021   Prob (F-statistic):           5.86e-29
Time:                        11:35:32   Log-Likelihood:                -902.31
No. Observations:                  96   AIC:                             1815.
Df Residuals:                      91   BIC:                             1827.
Df Model:                           4
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept    -1.011e+05      1e+04    -10.064      0.000   -1.21e+05   -8.11e+04
Unemployment  -835.4876    368.541     -2.267      0.026   -1567.549    -103.426
CPIAll         610.1691     42.746     14.274      0.000     525.259     695.079
CPIEnergy     -101.4196     17.655     -5.745      0.000    -136.489     -66.350
fx            4.474e+05   4.14e+05      1.082      0.282   -3.74e+05    1.27e+06
==============================================================================
Omnibus:                       43.022   Durbin-Watson:                   1.425
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              170.415
Skew:                           1.398   Prob(JB):                     9.88e-38
Kurtosis:                       8.898   Cond. No.                     4.34e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.34e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

Unemployment    3.810250
CPIAll          1.525860
CPIEnergy       1.823656
fx              3.918042
dtype: float64

In [24]:
OSR2(model_fx, carfx_train, carfx_testA, 'RogueSales')

0.8888618705212323

In [25]:
OSR2(model_fx, carfx_train, carfx_testB, 'RogueSales')

-0.19072720129252674